{% extends '@App/layout.html.twig' %}

{% block body %}
    {% include '@App/companyAdmin/components/navbar.html.twig' %}
    <ol class="breadcrumb">
        <li><a href="{{ path('app_company_admin_homepage') }}">Dashboard</a></li>
        <li><a href="{{ path('app_company_admin_manager_list') }}">Manager List</a></li>
        <li class="active">Manager Edit</li>
    </ol>

    <div class="page-header">
        <h1>Manager Edit <br class="visible-xs"><small>Edit manager</small></h1>
    </div>

    {{ form(form) }}
{% endblock %}